<div class="import-window" ng-switch="sc.connected">

	<div class="modal-header">
		<h3 class="modal-title">Import</h3>
	</div>

	<div class="modal-body" ng-switch-when="true">

		<input id="select-all" type="checkbox"
			ng-model="sc.selectAll"
			ng-change="sc.selectAll()" />

		<label for="select-all">Select all</label>

			<ul class="list-group import-list">

				<li class="list-group-item import-list-heading">
					<h4 class="list-group-item-heading">SoundCloud Favourites</h4>
				</li>

				<li class="list-group-item import-list-item"
					ng-repeat="track in sc.tracks" 
					ng-click="sc.selectItem($index, $event)"
					ng-class="{ 'selected' : track.selected,
						'disabled success' : track.getImportStatus() === 'success',
						'disabled failure' : track.getImportStatus() === 'failure'}"
					>

					<input type="checkbox" />
 					<div class="import-content-container">
 						<div class="import-content">
							<span class="import-title">{{track.name}}</span>
							<span class="small">{{track.uploader}}</span>
							<!-- <span class="small item-description">{{track.description}}</span> -->

							<span class="small">{{ track.getImportStatus() === 'success' ? "This track is already in your library" : "" }}</span>

							<button class="btn btn-primary btn-sm btn-import"
								ng-hide="track.ui.importStatus != 'none'"
								ng-click="sc.importOne($index, $event)">
								Import
							</button>

						</div>
						<a href=""><img src="{{track.img_url}}" class="import-item-img" /></a>
					</div>
				</li>
			</ul>

	</div>

	<div class="modal-body" ng-switch-when="false">
		<div ng-switch="sc.connectErr">
			<span ng-switch-when="false">Sign in to import your SoundCloud shit:</span>
			<span ng-switch-when="true">Could not authenticate! Try again?</span>
		</div>

		<button class="btn btn-primary sign-in" ng-click="sc.connect()">Sign in</button>
	</div>

	<div class="modal-footer">
		<div ng-switch-when="true">
			<button class="btn btn-primary" ng-click="sc.import()">Import Selected</button>
			<button class="btn btn-warning" ng-click="sc.cancel()">Cancel</button>
		</div>
	</div>

</div>