/* angular UI bootstrap fix */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.import-window .columnA {
  width: 40%;
  float: left;
}

.import-window .columnB {
  width: 46%;
  float: right;
}

.import-window .btn.sign-in {
  display: block;
  margin: 5px 0 5px 0;
}

.import-window .btn.start {
  display: block;
  margin: 5px 0 5px 0;
  background-color: #B13232;
  border-color: #8E2828;
}

.import-window input[type=checkbox] {
  margin-right: 7px;
}
.import-window .import-list .import-list-item,
.import-window .playlist-list .playlist-item {
  overflow: hidden;
}
.import-window .import-list .import-list-item.selected,
.import-window .playlist-list .playlist-item.selected {
  background-color: #F2F1F5;
}
.import-window .playlist-list .playlist-item .videos-link {
  display: none;
  float: right;
}
.import-window .playlist-list .playlist-item:hover .videos-link {
  display: inline;
}
.import-window .import-list .import-list-item {
  height: 120px;
}
.import-window .import-list .import-list-item .import-item-icon {
  position: absolute;
  right: 10;
}
.import-window .import-list .import-list-item .import-content {
  width: 370px;
}
.import-window .import-list .import-list-item .import-content,
.import-window .import-list .import-list-item .import-content-continer,
.import-window .import-list .import-list-item input[type=checkbox] {
  float: left;
}
.import-window .import-list .import-list-item .import-title {
  margin-bottom: 5px;
}
.import-window .import-list .import-list-item .import-title,
.import-window .import-list .import-list-item .import-description {
  display: block;
}
.import-window .import-list .import-list-item.disabled {
  color: #B3B3B3;
}
.import-window .import-list .btn-import {
  margin-top: 5px;
  position: absolute;
  bottom: 18;
  left: 36;
}


.modal-fit .modal-dialog {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
}

.modal-fit .modal-body {
  max-height: calc(100vh - 200px);
  overflow: auto;
}
