.library-table tbody td {
	font-size: 14px;
}
.library-table thead {
	background-color: #E8E8E8;
}
.library-table .table-col-ratin {
	font-size: 12px;
}
.library-table.expanded tbody tr {
	height: 120px;
}