/* line 9, ../sass/library.scss */
.tag {
  margin-right: 2px;
}

/* line 13, ../sass/library.scss */
.library-table {
  /* override bootstrap's align: top style */
}
/* line 16, ../sass/library.scss */
.library-table.table-condensed > tbody > tr > td {
  vertical-align: middle;
}
/* line 20, ../sass/library.scss */
.library-table.expanded tbody tr {
  height: 120px;
}
/* line 24, ../sass/library.scss */
.library-table tbody tr {
  height: 41px;
}
/* line 28, ../sass/library.scss */
.library-table tbody td {
  font-size: 14px;
}
/* line 32, ../sass/library.scss */
.library-table thead {
  background-color: #E8E8E8;
}
/* line 36, ../sass/library.scss */
.library-table form {
  margin: 0;
}
/* line 40, ../sass/library.scss */
.library-table .table-col-rating {
  font-size: 12px;
}
/* line 44, ../sass/library.scss */
.library-table .table-col-tags form,
.library-table .table-col-tags input {
  display: inline-block;
}
/* line 49, ../sass/library.scss */
.library-table .table-col-tags .add-tag-form {
  float: right;
  width: 86px;
}
/* line 54, ../sass/library.scss */
.library-table .table-col-tags input {
  width: 80px;
}
